/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-nav-bar {
  margin-bottom: 20px;
}

.primary {
  color: #3f51b5;
}

.secondary {
  color: #ffffff;
}

.pt__title {
  font-size: 1.5em;
}

.pt__subtitle {
  font-size: 1.1em;
}
